{{ template "header" .}}
{{ template "admin_header" .}}

<div class="sm:flex sm:space-x-4 space-y-4 sm:space-y-0">
    <div class="sm:overflow-hidden ">
        <div class="space-y-2 bg-gray-50 dark:bg-gray-800 py-6 px-6 rounded-md border border-gray-200 dark:border-gray-700">
            <div>
                <span class="text-base font-bold leading-6 text-slate-700 dark:text-slate-300">Versions</span>
            </div>
            <table class="table-fixed">
                <tbody>
                    <tr>
                        <td class="whitespace-nowrap py-2 pr-3 text-sm text-slate-700 dark:text-slate-300 ">Opengist</td>
                        <td class="whitespace-nowrap px-2 py-2 text-sm font-medium text-slate-700 dark:text-slate-300">{{ .opengistVersion }}</td>
                    </tr>
                    <tr>
                        <td class="whitespace-nowrap py-2 pr-3 text-sm text-slate-700 dark:text-slate-300 ">Go</td>
                        <td class="whitespace-nowrap px-2 py-2 text-sm font-medium text-slate-700 dark:text-slate-300">{{ .goVersion }}</td>
                    </tr>
                    <tr>
                        <td class="whitespace-nowrap py-2 pr-3 text-sm text-slate-700 dark:text-slate-300 ">Git</td>
                        <td class="whitespace-nowrap px-2 py-2 text-sm font-medium text-slate-700 dark:text-slate-300">{{ .gitVersion }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="sm:overflow-hidden ">
        <div class="space-y-2 bg-gray-50 dark:bg-gray-800 py-6 px-6 rounded-md border border-gray-200 dark:border-gray-700">
            <div>
                <span class="text-base font-bold leading-6 text-slate-700 dark:text-slate-300">Stats</span>
            </div>
            <table class="table-fixed">
                <tbody>
                    <tr>
                        <td class="whitespace-nowrap py-2 pr-3 text-sm text-slate-700 dark:text-slate-300 ">Users</td>
                        <td class="whitespace-nowrap px-2 py-2 text-sm font-medium text-slate-700 dark:text-slate-300">{{ .countUsers }}</td>
                    </tr>
                    <tr>
                        <td class="whitespace-nowrap py-2 pr-3 text-sm text-slate-700 dark:text-slate-300 ">Gists</td>
                        <td class="whitespace-nowrap px-2 py-2 text-sm font-medium text-slate-700 dark:text-slate-300">{{ .countGists }}</td>
                    </tr>
                    <tr>
                        <td class="whitespace-nowrap py-2 pr-3 text-sm text-slate-700 dark:text-slate-300 ">SSH keys</td>
                        <td class="whitespace-nowrap px-2 py-2 text-sm font-medium text-slate-700 dark:text-slate-300">{{ .countKeys }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="sm:overflow-hidden ">
        <div class="space-y-2 bg-gray-50 dark:bg-gray-800 py-6 px-6 rounded-md border border-gray-200 dark:border-gray-700">
            <div>
                <span class="text-base font-bold leading-6 text-slate-700 dark:text-slate-300">Actions</span>
            </div>
            <div class="space-y-2">
                <form action="/admin-panel/sync-fs" method="POST">
                    {{ .csrfHtml }}
                    <button type="submit" {{ if .syncReposFromFS }}disabled="disabled"{{ end }} class="whitespace-nowrap text-slate-700 dark:text-slate-300{{ if .syncReposFromFS }} text-slate-500 cursor-not-allowed {{ end }}rounded border border-gray-300 dark:border-gray-600 bg-gray-50 dark:bg-gray-800 px-2.5 py-2 text-xs font-medium text-gray-700 dark:text-white shadow-sm hover:bg-gray-100 dark:hover:bg-gray-700 hover:border-gray-500 hover:text-slate-700 dark:hover:text-slate-300 focus:outline-none focus:ring-1 focus:border-primary-500 focus:ring-primary-500 leading-3">
                        Synchorize gists from filesystem
                    </button>
                </form>
                <form action="/admin-panel/sync-db" method="POST">
                    {{ .csrfHtml }}
                    <button type="submit" {{ if .syncReposFromDB }}disabled="disabled"{{ end }} class="whitespace-nowrap text-slate-700 dark:text-slate-300{{ if .syncReposFromDB }} text-slate-500 cursor-not-allowed {{ end }}rounded border border-gray-300 dark:border-gray-600 bg-gray-50 dark:bg-gray-800 px-2.5 py-2 text-xs font-medium text-gray-700 dark:text-white shadow-sm hover:bg-gray-100 dark:hover:bg-gray-700 hover:border-gray-500 hover:text-slate-700 dark:hover:text-slate-300 focus:outline-none focus:ring-1 focus:border-primary-500 focus:ring-primary-500 leading-3">
                        Synchorize gists from database
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{{ template "admin_footer" .}}
{{ template "footer" .}}
