@tailwind base;
@tailwind components;
@tailwind utilities;

@config "./tailwind.config.js";

@layer base {
    ul, ol {
        list-style: revert;
    }
}

html {
    @apply bg-gray-50 dark:bg-gray-800;
}

a {
    @apply text-primary-500;
}

p a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    @apply underline;
}

input {
    @apply placeholder-gray-300 dark:placeholder-gray-400;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    @apply bg-white dark:bg-gray-900 mt-1 pt-1 !important;
}

pre {
    font-size: 0.8em !important;
}

.code {
    font-family: Menlo,Consolas,Liberation Mono,monospace;
}

.code .line-num {
    width: 4%;
    text-align: right;
}

.red-diff {
    background-color: rgba(255, 0, 0, .1);
}

.green-diff {
    background-color: rgba(0, 255, 128, .1);
}

.gray-diff {
    background-color: rgba(143, 143, 143, 0.38);
    @apply py-4 !important
}

#logged-button:hover .username {
    @apply hidden !important
}

#logged-button:hover .logout {
    @apply block !important
}

.cm-line, .cm-gutter {
    @apply bg-white dark:bg-gray-900 dark:caret-white caret-slate-700 !important;
    padding: 0 !important;
}

.cm-activeLine, .cm-activeLineGutter {
    @apply bg-gray-50 dark:bg-gray-800 !important;
}

.cm-gutters {
    border: none !important;
}

.cm-gutterElement {
    @apply text-gray-700 dark:text-gray-300 px-4 !important
}

.code td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.code tbody {
    line-height: 18.2px;
}

#editor {
    height: 337px;
    max-height: 337px;
}

.cm-editor {
    height: 337px;
    max-height: 337px;
}

.line-code.selected {
    background-color: rgb(255, 247, 190) !important;
    box-shadow: inset 4px 0 0 rgb(255, 213, 65) !important;
}

.dark .line-code.selected {
    background-color: rgb(54, 49, 32) !important;
    box-shadow: inset 4px 0 0 rgb(161, 128, 21) !important;
}

.line-code {
    @apply pl-2;
    background: none !important;
}

.line-num {
    @apply cursor-pointer text-slate-600 dark:text-slate-400 hover:text-black dark:hover:text-white;
}

table.csv-table {
    @apply w-full whitespace-pre text-xs;
}

table.csv-table thead {
    text-align: left;
}

table.csv-table thead tr {
    @apply bg-slate-100 dark:bg-slate-800;
}

table.csv-table thead tr th {
    @apply border py-2 px-1 border-slate-300 dark:border-slate-700;
}

table.csv-table tbody td {
    @apply border py-1.5 px-1 border-slate-200 dark:border-slate-800;
}

dl.dl-config {
    @apply grid grid-cols-3 text-sm;
}

dl.dl-config dt {
    @apply col-span-1 text-gray-700 dark:text-slate-300 font-bold;
}

dl.dl-config dd {
    @apply ml-1 col-span-2 break-words;
}

.markdown-body {
    @apply dark:bg-gray-900 !important;
}

.markdown-body pre {
    @apply flex relative items-start p-0 !important;
}

.markdown-body .code-div {
    @apply p-4 max-w-full overflow-x-auto !important;
}

.markdown-body code {
    @apply overflow-auto whitespace-pre !important;
}

.chroma.preview.markdown pre code {
    @apply p-4 !important;
}

.mermaid {
    background: #f6f8fa !important;
}

.hidden-important {
    @apply hidden !important;
}