:root {
    @import "github-markdown-css/github-markdown-light";
    @import './catppuccin-latte';
}

.dark {
    @import "github-markdown-css/github-markdown-dark";
    @import './catppuccin-macchiato';
}
