name: Docker Build and Push

on:
  push:
    branches: [ "enhance_search_index" ] 

jobs:
  build:
    runs-on: ubuntu-latest # 使用 GitHub 的 Linux 服务器 (AMD64)
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          # 这里会自动打两个标签：latest 和 你当前的 commit hash
          tags: |
            sydney0zq/opengist:latest
            sydney0zq/opengist:${{ github.sha }}
          platforms: linux/amd64,linux/arm64
